.header{
    display: flex;
    flex-direction: row;
}
.header{
    margin-top: 0.5vw;
    background-color: aquamarine;
    padding: 2vw 2vw 2vw 42.5vw;
    font: normal normal 600 3vw/3vw open;
    color:#000000;
}
.navegacion{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(198, 235, 202);
    width: 100% ;
}
.navegacion >nav{
    padding: 1vw 8.5vw 1vw 10vw;
    font: normal normal 600 1vw/3vw open;
    color:#000000;
}
.articulo{
    padding: 2vw 2vw 2vw 2vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(63, 63, 63);
    width: 96% ;
}
.articulo .p1{
    width: 20vw;
}
.articulo .p2{
    width: 30vw;
}
.articulo .p3{
    width: 25.5vw;
}
.articulo .p4{
    position: absolute;
    margin-left: 5vw;
    font: normal normal 600 2vw/3vw open ;
    color:#ffffff;
}
.articulo .p5{
    position: absolute;
    font: normal normal 600 2vw/3vw open;
    color:#ffffff;
    margin-left: 31.5vw;
}
.articulo .p6{
    position: absolute;
    font: normal normal 600 2vw/3vw open;
    color:#ffffff;
    margin-left: 76vw;
}
.articulo .p7{
    position: absolute;
    font: normal normal 600 2vw/3vw open;
    color:#ffffff;
    margin-left: 39%;
    margin-top: -2.5%;
}
footer {
    background-color: #4a5557;
    padding: 0.5vw;
    text-align: center;
    font: normal normal 600 2vw/3vw open;
    color:#000000;
}

